body { 
    background-color: #ddd;
    font-size: 76%;
    margin: 0 1.5em 1.5em 1.5em;
}

a {
    color: #c12d06;
}

#salutation {
    position: absolute;
    top: 0.5em;
    right: 1.8em;
    font-family: sans-serif;
    font-size: 0.9em;
}

#salutation a {
    color: black;
}

#header {
    margin-top: 2.3em;
}

#logo {
    float: right;
}

#wikiheader {
    float: right;
    text-align: right;
    padding-right: 1px;
    width: 50%;
}

#wikiheader label {
    display: inline;
    float: none;
}

#wikiname {
    margin: 0;
    font-size: 1.7em;
}

#wikiname a {
    color: black;
    text-decoration: none;
}

#pageheader {
    margin-top: 1em;
    width: 70%;
    padding-left: 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }

#pagename {
    margin: 0.2em 0 0 0;
    font-size: 2em;
}

#content {
    background: white;
    padding: 0.3em 1em 0.5em 1em;
    border: 1px solid #ccc;
    clear: both;
    margin-top: 0.5em;
    font-family: sans-serif;
    font-size: 1.1em;
}

* html #content { margin-top: 0; }

#update #content, #create #content {
    position: relative;
}

#content h1,
#content h2,
#content h3,
#content h4
{
    margin: 0.2em 0;
}

#syntax {
    float: right;
    background: white;
    border: 1px solid #888;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    width: 25%;
    position: absolute;
    right: 1em;
}

#syntax code, #syntax tt {
    font-size: 1.2em;
}

.diff {
    font-size: 1.1em;
    overflow: auto;
}

.file span {
    display: block;
    clear: both;
}

.file .fileheader, .file .hunkheader {
    color: #666;
}

.file .hunk .ctx {
    background: #eee;
}

.file .hunk ins {
    background: #dfd;
    text-decoration: none;
    display: block;
}

.file .hunk del {
    background: #fdd;
    text-decoration: none;
    display: block;
}

#jifty-wait-message {
    display: none;
}
