/* buttons */

input.button {
    margin-top: 0.6em;
    padding: 0.15em 1em;
    font-weight: bold;
}

* html input.button {
    padding: 0 0.1em;
}

/* fields */

input.text, input.date, input.password, input.combo-text, textarea, select {
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
    background: #fff url(/static/images/css/fieldbg.gif) repeat-x top;
    padding: 0.2em;
    font-size: 1em;
}

label, span.label {
    font-size: 0.9em;
}

.form_field .hints {
    font-size: 0.9em;
    color: #777;
}

/* layout */

.form_field {
    clear: both;
}

label, span.label {
    display: block;
    width: 20%;
    float: left;
    text-align: right;
    margin-right: 0.5em;
}

* html label, * html span.label {
    width: 22%;
}

form .hints {
    display: block;
    clear: both;
}

html>body form .hints {
    padding: 0.2em 0 0.2em 21%;
}

* html form .hints {
    padding-left: 11.5%;
}

form .error {
    display: block;
    clear: both;
}

.form_field {
    padding: 0.3em 0 0 0;
}

.inline .hints {
    padding-left: 0;
}

.inline label, .inline span.label {
    float: none;
    width: auto;
    text-align: left;
    margin-right: auto;
    font-weight: bold;
}

.inline .form_field {
    float: left;
    clear: none;
    margin-right: 0.5em;
}

.inline .button {
    margin-top: 1.1em;
}

.button_line {
    border-top: 1px solid #ccc;
    padding-right: 5em;
    margin-top: 1.5em;
    clear: both;
    direction: rtl;
}

form .line {
    clear: both;
}

