body { 
    background-color: #dddddd;


}

div#headers h1 {
 background: green;
 color: white;
 padding: 0.2em;
 border: 0;
 margin: 0;
 margin: -10px 0  0 -10px ;
 margin-right: -10px;

}

a {
 color: black;
 font-style: bold;
}

#jifty-wait-message {
 display: none;
}

div#content {
    background: #ffffff;
   padding: 2em;
}

div#salutation {
    float: right;
    font-style: italic;
}

textarea.content {
  height: 50em;
  background: #ddd;
  border: 1px solid black;
  padding: 5px;
}


input[type=submit] {
    border: 1px solid black;
    font-size: 1.5em;
    margin: 5px;
        
}

div#syntax {
    float: right;
    background: white;
    border: 1px solid #333;
    padding: 3px;
    font-size: 0.8em;
    width: 25%;
    position: absolute;
    top: 10em;
    right: 2em;
}




